{{define "settings/panel/multi_subscriptions"}}
<div v-if="multiSubItems !== undefined">
<a-row :gutter="[16,16]">
  <a-col :span="24">
    <a-page-header :title='{{ i18n "pages.multiSubscriptions.title"}}'>
      <template slot="extra">
        <a-button type="primary" icon="plus" @click="openAddMultiSub">{{ i18n "pages.multiSubscriptions.add"}}</a-button>
        <a-button icon="sync" @click="refreshMultiSub">{{ i18n "pages.nodes.refresh"}}</a-button>
      </template>
    </a-page-header>
  </a-col>
  <a-col :span="24">
    <a-table :data-source="multiSubItems" :row-key="'id'" :pagination="false">
      <a-table-column :title='{{ i18n "pages.multiSubscriptions.name"}}' data-index="name" key="name"/>
      <a-table-column :title='{{ i18n "pages.multiSubscriptions.subId"}}' data-index="subId" key="subId"/>
      <a-table-column :title='{{ i18n "pages.multiSubscriptions.nodes"}}' key="nodes" :customRender="(_, r)=> nodeIdsTplMultiSub(r)"></a-table-column>
      <a-table-column :title='{{ i18n "pages.multiSubscriptions.remark"}}' data-index="remark" key="remark"/>
      <a-table-column :title='{{ i18n "pages.multiSubscriptions.enabled"}}' key="enable" :customRender="(_, r)=> enableTplMultiSub(r)"/>
      <a-table-column :title='{{ i18n "pages.nodes.actions"}}' key="action" :customRender="(_, r)=> actionTplMultiSub(r)"/>
    </a-table>
  </a-col>
</a-row>

<a-modal :visible="multiSubModals.edit.visible" :title='{{ i18n "pages.multiSubscriptions.title"}}' :footer="null" @cancel="multiSubModals.edit.visible=false">
  <a-form :label-col="{span:6}" :wrapper-col="{span:16}">
    <a-form-item :label='{{ i18n "pages.multiSubscriptions.name"}}' :validate-status="multiSubV.name.status" :help="multiSubV.name.help"><a-input v-model="multiSubForm.name" :placeholder="$t('pages.nodes.namePlaceholder')"/></a-form-item>
    <a-form-item :label='{{ i18n "pages.multiSubscriptions.subId"}}' :validate-status="multiSubV.subId.status" :help="multiSubV.subId.help"><a-input v-model="multiSubForm.subId" :placeholder="$t('pages.multiSubscriptions.subIdPlaceholder')"/></a-form-item>
    <a-form-item :label='{{ i18n "pages.multiSubscriptions.nodeIdsLabel"}}' :validate-status="multiSubV.nodeIds.status" :help="multiSubV.nodeIds.help"><a-input v-model="multiSubForm.nodeIds" :placeholder="$t('pages.multiSubscriptions.nodeIdsPlaceholder')"/></a-form-item>
    <a-form-item :label='{{ i18n "pages.multiSubscriptions.remark"}}'><a-textarea v-model="multiSubForm.remark" :placeholder="$t('pages.multiSubscriptions.remarkPlaceholder')" :auto-size="{minRows:2,maxRows:4}"/></a-form-item>
    <a-form-item :label='{{ i18n "pages.multiSubscriptions.enabled"}}'><a-switch v-model="multiSubForm.enable"/></a-form-item>
    <a-form-item :wrapper-col="{span:16, offset:6}">
      <a-space>
        <a-button type="primary" @click="saveMultiSub">{{ i18n "update"}}</a-button>
        <a-button @click="multiSubModals.edit.visible=false">{{ i18n "cancel"}}</a-button>
      </a-space>
    </a-form-item>
    </a-form>
  </a-modal>
</div>
<div v-else>
  <a-alert type="info" message="Loading..." show-icon></a-alert>
</div>
{{end}}

