{{ template "page/head_start" .}}
{{ template "page/head_end" .}}

{{ template "page/body_start" .}}
<a-layout id="app" v-cloak :class="themeSwitcher.currentTheme + ' nodes-page'">
  <a-sidebar></a-sidebar>
  <a-layout id="content-layout">
    <a-layout-content>
      <div style="padding: 20px;">
        <h1>Nodes Page</h1>
        <p>Test: [[ message ]]</p>
        <a-button @click="refresh">Refresh</a-button>
        <div v-if="nodes.length > 0">
          <p>Found [[ nodes.length ]] nodes</p>
        </div>
        <div v-else>
          <p>No nodes</p>
        </div>
      </div>
    </a-layout-content>
  </a-layout>
</a-layout>
{{template "page/body_scripts" .}}
{{template "component/aSidebar" .}}
{{template "component/aThemeSwitch" .}}
<script>
  const app = new Vue({
    delimiters: ['[[', ']]'],
    el: '#app',
    mixins: [MediaQueryMixin],
    data: {
      themeSwitcher,
      message: 'Vue is working!',
      nodes: [],
    },
    methods: {
      async refresh() {
        try {
          const msg = await HttpUtil.get('/panel/api/nodes/');
          if (msg.success) {
            this.nodes = msg.obj || [];
            this.$message.success('Loaded');
          }
        } catch (e) {
          this.$message.error('Error');
        }
      }
    },
    mounted() {
      this.refresh();
    }
  });
</script>
{{ template "page/body_end" .}}
